body {
    margin: 10;
    display: flex;
    flex-direction: column;
}

.box1 {
    background: red;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.box2 {
    background: red;
    height: 150px;
    width: 150px;
    margin-top: 10px;
}

.separador {
    overflow: hidden;
}